<launch>
    <node name="drag_centerline_planner_contours" pkg="rr_iarrc" type="drag_centerline_planner_contours" output="screen">
        <param name="speed" type="double" value="2.0" />

        <param name="maxTurnLimitRadians" type="double" value="0.44" />

        <param name="subscription_node" type="string" value="/camera_center/image_color_rect/lines/detection_img_transformed"/>
    </node>

    <node name="drag_contour_pid" pkg="pid" type="controller">
        <param name="Kp" value="0.006" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />

        <param name="topic_from_controller" value="/contour_pid/control_effort" />
        <param name="topic_from_plant" value="/contour_pid/state" />
        <param name="setpoint_topic" value="/contour_pid/setpoint" />
    </node>
</launch>
