<launch>
    <arg name="topic_from_controller" value="/urc_center_pid/control_effort"/>
    <arg name="topic_from_plant" value="/urc_center_pid/state"/>
    <arg name="setpoint_topic" value="/urc_center_pid/setpoint"/>
    <node name="drag_centerline_planner" pkg="rr_iarrc" type="drag_centerline_planner" output="screen">
        <param name="speed" type="double" value="1.9" /> <!-- 3.1-->

        <param name="useHistogramFinder" type="bool" value="true" />

        <param name="maxTurnLimitRadians" type="double" value="0.16" />

        <param name="subscription_node" type="string" value="/urc_side_lanes"/>

        <param name="control_topic" value="$(arg topic_from_controller)" />
        <param name="state_topic" value="$(arg topic_from_plant)" />
        <param name="setpoint_topic" value="$(arg setpoint_topic)" />
    </node>

    <node name="drag_centerline_planner_pid" pkg="pid" type="controller">
        <param name="Kp" value="0.004" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0013" />

        <param name="topic_from_controller" value="$(arg topic_from_controller)"/>
        <param name="topic_from_plant" value="$(arg topic_from_plant)" />
        <param name="setpoint_topic" value="$(arg setpoint_topic)" />
    </node>
</launch>
